<%= form_tag(@search_path, method: 'get') do %>
    <%= hidden_field_tag "list_id", list_id %>
    <%= hidden_field_tag "source_page", "#{@page_source}" %>
   <H3>Search IMDB for movies </H3>
    <table>
        <tr>
            <td>Title:</td>
            <td><%= text_field_tag(:s) %></td>
            <td>Year:</td>
            <td><%= text_field_tag(:y) %></td>
            <td>IMDB Id</td>
            <td><%= text_field_tag(:i) %></td>
            <td><%= submit_tag("Search") %></td>
        </tr>
    </table>

        <% unless @movies.blank? %>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        Title
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Type
                    </th>
                </tr>
                </thead>
                <tbody>
                <% @movies.each do |movie| %>
                    <tr>
                        <td><%= link_to "add", add_movie_to_list_path(list_id, movie['imdbID']), method: :post %></td>
                        <td>
                            <% unless movie["Poster"].include?("N/A") %>
                                <%= image_tag(movie["Poster"], size: "50x75") %>
                            <% end %>
                        </td>
                        <td>
                        <%= movie["Title"] %>
                        </td>
                        <td>
                            <%= movie["Year"] %>
                        </td>
                        <td>
                            <%= movie["Type"] %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% end %>
<% end %>